@font-face {
    font-family: 'Cinzel';
    src: url('fonts/Cinzel-Regular.woff2') format('woff2'),
        url('fonts/Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('fonts/SourceSans3-Italic.woff2') format('woff2'),
        url('fonts/SourceSans3-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('fonts/SourceSans3-Roman.woff2') format('woff2'),
        url('fonts/SourceSans3-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --saturn: #f8e5be;
  --gold-rush: #c6a878;
  --black-panther: #464039;
  --black-panther-80: rgba(70, 64, 57, 80%);
  --major-brown: #62544a;
  --macaroon: #af8967;

  --light-text-color: var(--saturn);
  --dark-background-color: var(--black-panther);

  --border-radius: 10px;

  --slider-active-color: #da884c;
}

* {
  font-family: 'Source Sans 3', sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto 2fr 3fr;
  grid-template-areas:
    "navbar"
    "add-book-container"
    "library-container";
  height: 100vh;
}

h2 {
  font-family: 'Cinzel', serif;
}

nav {
  padding: 20px 0px;
  background-color: var(--black-panther);
  grid-area: navbar;
}

nav > ul {
  display: flex;
  gap: 3rem
}

nav li {
  list-style-type: none;
}

nav a {
  display: flex;
  gap: 1rem;

  font-family: 'Cinzel', serif;
  color: var(--light-text-color);
  font-size: x-large;
  font-weight: bold;
  align-items: center;

  text-decoration: none;
}

.add-book-container {
  grid-area: add-book-container;
  background-image: url("img/peter-herrmann-aT88kga0g_M-unsplash.jpg");
  background-size: contain;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image-citation {
  font-size: x-small;
  color: var(--gold-rush);
  position: absolute;
  bottom: 0;
  right: 10px;
}

.background-image-citation a {
  text-decoration: none;
  color: var(--light-text-color);
}

.library-container {
  grid-area: library-container;
  background-color: var(--gold-rush);

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 40px;
  gap: 30px;
}

.add-book-overlay {
  background-color: var(--black-panther-80);
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: var(--border-radius);
  margin: 20px;
}

.add-book-title {
  font-family: 'Cinzel', serif;
  color: var(--light-text-color);
  font-size: xx-large;
  font-weight: bolder;
  line-height: 1;
}

.add-book-subtitle {
  font-size: large;
  font-weight: bold;
  color: var(--light-text-color);
}

.add-book-overlay button {
  background-color: transparent;
  color: var(--light-text-color);
  border: solid var(--light-text-color) 1px;
  padding: 5px 10px;
  border-radius: var(--border-radius);
  font-weight: bold;
  font-size: large;
}

.add-book-overlay button:active,
.add-book-overlay button:hover {
  background-color: var(--light-text-color);
  color: var(--dark-background-color);
}

 /* The Modal (background) */
.add-book-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.add-book-modal-content {
  position: relative;
  background-color: var(--gold-rush);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid --dark-background-color;
  width: 80%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: var(--border-radius);
}

.add-book-modal-title {
  color: var(--dark-background-color);
}

.add-book-form-label {
  display: flex;
  flex-direction: column;
}

/* The Close Button */
.add-book-modal-close {
  position: absolute;
  top: 0px;
  right: 15px;
  color: var(--dark-background-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.add-book-modal-close:hover,
.add-book-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.add-book-modal-last-row {
  display: flex;
  justify-content: space-between;
}

.add-book-modal button {
  background-color: transparent;
  color: var(--dark-background-color);
  font-weight: bold;
  border: solid var(--dark-background-color) 1px;
  padding: 5px 10px;
  border-radius: var(--border-radius);
}

.add-book-modal button:hover,
.add-book-modal button:active {
  background-color: var(--dark-background-color);
  color: var(--light-text-color);
}

.card {
  border: solid var(--dark-background-color) 1px;
  padding: 20px;
  padding-bottom: 3rem;
  color: var(--light-text-color);
  background-color: var(--dark-background-color);
  border-radius: var(--border-radius);
  position: relative;

  line-height: 1.5;

  box-shadow: var(--major-brown) 2px 3px 3px 1px;
}

.card-title {
  font-family: 'Cinzel', serif;
  font-size: x-large;
}

hr {
  border-color: var(--dark-background-color);
}

.card button {
  background-color: transparent;
  border: none;
  background-image: url("icons/trash-can-outline.svg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 2rem;
  aspect-ratio: 1 / 1;
}

.card button:hover,
.card button:active {
  background-image: url("icons/trash-can.svg");
}

.card-have-read-container {
  position: absolute;
  bottom: 10px;
  left: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* The switch - the box around the slider */
.card-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
  border: solid var(--dark-background-color) 1px;
  border-radius: 34px;
}

/* Hide default HTML checkbox */
.card-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.card-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a6a2a5;
  -webkit-transition: .4s;
  transition: .4s;
}

.card-slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  border: solid var(--dark-background-color) 1px;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .card-slider {
  background-color: var(--slider-active-color);
}

input:focus + .card-slider {
  box-shadow: 0 0 1px var(--slider-active-color);
}

input:checked + .card-slider:before {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
}

/* Rounded sliders */
.card-slider.round {
  border-radius: 34px;
}

.card-slider.round:before {
  border-radius: 50%;
}
